{
  "overrides": [
    {
      "files": "**/*.md",
      "options": {
        "proseWrap": "always"
      }
    },
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
